.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.list-row:hover{
    background-color: var(--darkgrey);
    cursor: pointer;
    border-radius: 1rem;
}

.list-row td {
    text-align: left;
    width: 18%;
    margin: 0.5rem;
    padding: 0.5rem;
}

.td-image{
    width: 3rem !important;
    margin-right: 0.5rem;
}
.td-align-center{
    text-align: center !important;
}
.td-align-right{
    text-align: right !important;
}

@media only screen and (max-width: 1050px) {
     .td-icon{
        display: none !important;
    }
}

@media only screen and (max-width: 880px) {
    .total-volume{
        display: none !important;
    }
}

