.select-coins{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.select-coins > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
@media screen and (max-width: 1050px){
    .select-coins{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 0;
    }
}

