.footer{
    background-color: var(--purple);
    color: var(--black);
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
}

span{
    color: var(--white);
}

@media only screen and (max-width: 800px){
    .footer{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0.8rem 1rem;
    }
}